{% extends 'layout.html.twig' %}

{% block title %}Edite réservation {{ reservation.date }}{% endblock %}

{% block content %}

    <div class="jumbotron" style="background:rgb(157,30,29)">
        <h1 class="text-center text-white">Modifier la réservation {{ reservation.date | date("d.m.y") }}</h1>
    </div>

    <div class="container">
        <div class="card text-center border-danger mb-3">
    {% include 'Reservation/_form.html.twig' %}
        </div>
    </div>
    <div class="container text-center">
        <a class="btn btn-primary btn-md" href="/reservation/show/{{ reservation.id }}">Back</a>
    </div>


{% endblock %}
