{% extends 'layout.html.twig' %}



{% block content %}
    <div class="jumbotron" style="background:rgb(157,30,29)">
        <h1 class="text-center text-white">Votre avis</h1>
        <p class="text-center text-white">Parce que votre satifaction est notre priorité, votre avis nous intéresse...</p>
    </div>
        {% include 'Avis/_form.html.twig' %}
{% endblock %}
