{% extends 'layout.html.twig' %}

{% block title %}
    Nos Engagements
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="jumbotron bg-dark">
        <h1 class="text-center text-white">Expériences</h1>
    </div>
    <div class="row">
        <div class="col-sm-3 offset-md-1">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Wild code school</h5>
                    <p class="card-text text-center">Développeur web junior</p>
                    <img class="card-img-top" src="https://zupimages.net/up/20/48/8e9o.png" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="col-sm-3 offset-md-0">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Délice & Création</h5>
                    <p class="card-text text-center">Chauffeur PL</p>
                    <img class="card-img-top" src="https://zupimages.net/up/21/05/razf.jpg" alt="Card image cap">


                </div>
            </div>
        </div>
        <div class="col-sm-3 offset-md-0">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title text-center">Gendarme mobile</h5>
                    <img class="card-img-top" src="https://zupimages.net/up/21/05/qtwz.jpg" alt="Card image cap">
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
