<footer class="page-footer font-small indigo bg-dark">

    <div class="container text-center">
        <br/>
        <h5 class="text-white">M'essayer, c'est m'adopter!</h5>
        <a class="navbar-brand" href="/Home/index"><img src="https://zupimages.net/up/21/05/1htg.jpg" width="100px"
                                                        height="100px"></a>
    </div>

    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    <div class="row pb-3">

        <div class="col-md-12">

            <div class="mb-5 text-center">

                <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text mr-4"><a href="/Home/index"><img
                                    src="https://zupimages.net/up/20/48/oes1.png" alt="" width="40px"/></a></i>
                </a>
                <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text mr-4"><a href="/Home/index"><img
                                    src="https://zupimages.net/up/20/48/ysrb.png" alt="" width="40px"/></a></i>
                </a>
                <a class="li-ic">
                    <i class="fab fa-linkedin-in fa-lg white-text mr-4"><a href="/Home/index"><img
                                    src="https://zupimages.net/up/20/48/tk9v.png" alt="" width="40px"/></a></i>
                </a>
                <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text mr-4"><a href="/Home/index"><img
                                    src="https://zupimages.net/up/20/48/n7qg.png" alt="" width="40px"/></a></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-white text-center py-3">© 2020 Tous droits réservés:
        <a href="/Home/index" class="text-secondary"> MathieuBecker.fr</a>
    </div>
</footer>


